.card {
  background-color: #fafafa;
}

.card-description {
  font-size: 11px;
  overflow: 'hidden';
  text-overflow: 'ellipsis';
}

.card-description:hover {
  overflow: visible;
}

.card-actions {
  background-color: #ffffff;
}

.card-actions > button {
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  border: none;
  background: #202e4b;
  flex-grow: 1;
  min-height: 36px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
}

.card-actions > button:hover {
  transition: all 0.2s ease-in-out;
  background: #202e4b;
  color: #e5e5e5;
}

.card-actions > button:disabled,
.card-actions > button[disabled] {
  background-color: #7ac486;
  color: #e5e5e5;
}
