.create-property-transfer-page {
  color: #202e4b;
}

.create-property-transfer-page > div > form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 12px;
}

.create-property-transfer-page > div > form > label {
  margin-bottom: 8px;
}

.create-property-transfer-page > div > form > input {
  padding: 8px 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
}

.enter {
  align-items: center;
  display: flex;
  margin-top: 22px;
}

.enter > div {
  margin-right: 16px;
}

.enter > button {
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  border: none;
  background: #202e4b;
  flex-grow: 1;
  min-height: 36px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.enter > button:hover {
  transition: all 0.2s ease-in-out;
  background: #202e4b;
  color: #e5e5e5;
}

.enter > button:disabled,
.enter > button[disabled] {
  background-color: #e5e5e5;
}

